{% extends "layout.html" %}

{% block title %}
    Buy1
{% endblock %}

{% block main %}
    <h2>Order preview</h2>
    <p style="color:red;">{{errorMessage}}</p>
    <hr>
    <div class="section">
        <center>
    <table style="border: 5px solid #990000; border-collapse: collapse">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Value of order</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over fields of json object and add to table -->
            <tr>
                <td>{{stock["name"]}}</td>
                <td>{{shares}}</td>
                <td>{{orderValue | usd}}</td>
            </tr>
        </tbody>
    </table>
    </center>
    </div>
{% endblock %}
