{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <p style="color:red;">{{errorMessage}}</p>
    <hr>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Current price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for row in tableRows %}
    <tr>
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3] | usd}}</td>
      <td>{{row[4] | usd}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>CASH</td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{currentCash | usd}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><b>Total: {{totalCash | usd}}</b></td>
    </tr>
  </tbody>
</table>
{% endblock %}
